@charset "UTF-8";

/*Redefinindo as configurações do site com seletor global*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em
}

a {
    color: #000;
    transition: 0.3s;
    font-weight: bold;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    height: 8vh;

}

.nav-list {
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-right: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    html, body {
        overflow-x: hidden;
    }

    a {
        color: #fff;
    }

    .nav-list {
        position: absolute;
        display: none;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: rgba(0, 0, 0, 0.521);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 5px 0 0 5px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.9s ease-in;
    }

    .nav-list li {
        margin-right: 0;
    }

    .nav-list li a {
        padding: 50px;
    }

    .mobile-menu {
        display: block;
    }
    

}

.nav-list.active {
    transform: translateX(0);
    display: flex;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.logo img {
    margin-top: 5%;
    margin-left: 15%;
}

h1 {
    text-align: center;
    color: #10016a;
}

.principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin: auto;
}

.principal > div {
    padding: 20px;
    padding-top: 90px;
}
.principal img {
    box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.397);
    width: 100%;
}

.principal p {
    text-align: center;
    font-weight: bold;
}

.main-contact {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.galeria {
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.397);
}

.foto {
    position: absolute;
    opacity: 0;
    animation: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    25% {
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    
    50% {
        opacity: 0;
    }
}

.foto:nth-child(2) {
    animation-delay: 5s;
}

.foto:nth-child(3) {
    animation-delay: 10s;
}

.foto:nth-child(4) {
    animation-delay: 15s;
}

.sobre p {
    text-align: justify;
    padding: 10px 0;
    font-size: 0.9em;
    margin: 0 10px;
}

.sobre img {
    width: 100%;
}

.sobre-mim {
    max-width: 600px;
}

.about {
    max-width: 600px;
    margin: 50px 10px 0 10px;
    padding: 10px 0;
    font-size: 1em;
}

.cv {
    display: block;
    max-width: 400px;
    padding: 5px 0;
    background-color: #10016a;
    text-align: center;
}

.cv a {
    padding: 0 100px;
    color: white;
}

.cv:hover {
    background-color: black;
}

.socialmedia {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
}

.socialmedia > div {
    padding: 10px;
}